
.header {
   font-size: 20px;
   padding: 15px;
   font-weight: bold;
}

.table-container {
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
   text-align: left;
   padding: 8px;
}
  
tr:nth-child(even) {background-color: #f2f2f2;}